main.bundle.js
node_modules
**/semantic/dist/components/*
**/semantic/dist/themes/*
!**/semantic/dist/themes/default
/dist/
npm_output.log
vite_output.log
changes.diff
convert_class.py
assets/*-*.js
assets/*-*.css
assets/*-*.woff
assets/*-*.woff2
assets/*-*.ttf
assets/*-*.eot
assets/*-*.svg
assets/*-*.png
patch_chart.js
